#title{
    text-align: center;
}

#content{
    margin: 0 auto;
    width: 75%;
    text-align: center;
    border: solid black 1px;
}

#content th{
    border: solid black 1px;
}

#content td{
    border: solid black 1px;
}